{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }} | Chhohreivung Blog{% endblock %}

{% block og_meta %}
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{ post.overview }}">
<meta property="og:image" content="{% static 'img/default-og.jpg' %}">
{% endblock %}

{% block content %}
<main class="container">
    <article>
        <h1>{{ post.title }}</h1>
        <div class="featured-image">
            <img src="{% static 'img/default-og.jpg' %}" alt="{{ post.title }}" class="responsive-img">
        </div>
        <div class="content">
            {{ post.content|safe }}
        </div>
    </article>

    <aside>
        <h3>Recent Posts</h3>
        <ul>
            {% for rpost in recent_posts %}
                <li><a href="{% url 'post' rpost.slug %}">{{ rpost.title }}</a></li>
            {% endfor %}
        </ul>

        <h3>Categories</h3>
        <ul>
            {% for category in all_categories %}
                <li><a href="{% url 'category_Post' category.slug %}">{{ category.name }} ({{ category.post_count }})</a></li>
            {% endfor %}
        </ul>
    </aside>
</main>
{% endblock %}
