{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.overview|truncatechars:160 }}{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/post-style.css' %}">
{% endblock %}

{% block content %}
{% include 'header.html' %}

<main class="container">
    <article class="post">
        <h1>{{ post.title }}</h1>
        <p class="categories">
            Categories: 
            {% for cat in post.categories.all %}
                <a href="{% url 'category' cat.slug %}">{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <img class="thumbnail" src="{{ post.thumbnail_img.url }}" alt="Thumbnail of {{ post.slug }}">

        <div class="post-content">{{ post.content|safe }}</div>

        <div class="author">
            <p>Wrote by: {{ post.author.username }}</p>
        </div>
    </article>

    <aside>
        <h2>Categories</h2>
        {% for category in all_categories %}
            <p><a href="{% url 'category' category.slug %}">{{ category.title }} ({{ category.post_count }})</a></p>
        {% endfor %}

        <h2>Recent Posts</h2>
        {% for recent_post in recent_posts %}
            <p><a href="{% url 'post' recent_post.slug %}">{{ recent_post.title }}</a></p>
        {% endfor %}
    </aside>
</main>

{% include 'footer.html' %}
{% endblock %}
