{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description -->
    <meta name="description" content="{% block metadescription %}Latest articles on technology, web development, finance, politics, and more.{% endblock %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content="Chhohreivung Blog">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Chhohreivung Blog{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Latest articles on technology, web development, finance, politics, and more.{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'img/default-og.jpg' %}{% endblock %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Chhohreivung Blog{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Latest articles on technology, web development, finance, politics, and more.{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% static 'img/default-og.jpg' %}{% endblock %}">

    <title>{% block title %}Chhohreivung Blog{% endblock %}</title>

    {% block links %}{% endblock links %}

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap" rel="stylesheet">
</head>
<body>

    {% block content %}
    {% endblock content %}

    <!-- Scripts at the bottom -->
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
